/* Set the entire visible screen to have a background of #aad4cf, as well as significant margins on either side to show this colour.  */
body {
    background-color: #aad4cf;
    font-family:Arial, Helvetica, sans-serif;
    margin-left:20%;
    margin-right:20%;
}

/* The position: relative selector allows for the title text to float on top using absolute */
header {
   position:relative;
   background-color: #d4e9e7;
}

footer {   
    text-align: right;
}

/* Makes the nav a block-level flex container, and evenly spaces the flexed anchor tags.  */
nav {
    display:flex;
    justify-content: space-around;
}

button {
    border: 1px solid black;
    padding:1%;
    background-color:transparent;
}

/* Makes the textarea unable to be resized (in the reference picture, there was no pull tab to edit size), while taking up the majority of the fieldset. */
textarea {
    resize:none;
    width:95%;
}

button:hover {
    background-color:#aad4cf;
}

/* Adds background colour to the content of the site, as well as padding for easy reading */
nav, article, aside, form, footer {
    background-color: #d4e9e7;
    padding:1%;
}

/* Separates form items onto different lines, and adds margins for spacing */
label, input, button {
    display: block;
    margin-bottom:1%;
    margin-top:1%;
}

/* Remove link styling */
a:link {
    color:black;
    text-decoration:none;
}

a:visited {
    color:black;
}

/* Positions the header text centered on top of the image. */
.head-title {
    color:white;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Dynamically scales the size of the header image to be 100% of its space - which given the margins, will always stay the 60% the content is allowed in. */
.head-image {
    width:100%;
}

/* Class applied to the radio buttons labels and inputs in the form (flex-b = flex buttons) to display them as inline instead of block. */
.flex-b {
    display: inline;
}

/* Class for a photo floated on the left side of an article, with right and bottom padding to separate from the body text  */
.art-star {
    float:left;
    width:20%;
    padding-right:2%;
    padding-bottom:2%;
}

/* Class to add the bar separations through left and right borders */
.middle-nav {
    border-left:solid 1px;
    border-right:solid 1px;
    
    padding-left:15%;
    padding-right:15%;
    
}

